/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.note-para {
    font-size: 10px;
    font-weight: bold;
}
